# Packages required for Project 2

python-ta~=2.7.0
networkx

# -------- DELETE BELOW UPON SUBMISSION

# Testing and code checking
hypothesis
pytest
python-ta~=2.7.0

# Graphics and data visualization
plotly>=5.18.0
pygame==2.5.2

# Specific to a later exercise
networkx
numpy
scipy
kaleido
